:root {
  --red-line: #f00;
  --light-line-white: #f3f3f3;
  --dark-line-white: #ddd;
  --text-color: #333;
  --image-background: #ccc;
  --gradient-1: linear-gradient(to bottom, #FCD905,#EA210B);
  --gradient-2: linear-gradient(to bottom, #CC4595,#762A80);
  --gradient-3: linear-gradient(to bottom, #0AD5A2,#1383A2);
  --gradient-4: linear-gradient(to bottom, #FB7570,#F52C5A);
  --gradient-5: linear-gradient(to bottom, #BA30D3,#2B2796);
  --gradient-6: linear-gradient(to bottom, #0AD5A2,#1383A2);
}