$ideal_height: clamp(1px, 50vw, 250px);
$footer_width: clamp(1px, 80vw, 1090px);

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(204.83% 204.83% at 50% 50%, #41cf41 0%, #0A5517 100%);
  font-family: 'Roboto', sans-serif;
  min-height: $ideal_height;
  border-top: 5px solid var(--red-line);
}

.footer-company {
  height: 35px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  width: $footer_width;

  .footer-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;

    .footer-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;

      p {
        flex-wrap: wrap;
        width: 50%;
        margin-top: 16px;
        color: white;
        text-align: center;
      }
    }
    
    .footer-column-title {
      font-weight: bold;
      font-size: 24px;
      color: white;
      text-align: center;
    }

    .footer-column-social {
      list-style: none;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        margin-top: 15px;

        cursor: pointer;

        img {
          width: 30px;
          height: auto;
          margin-right: 16px;
        }

        span {
          color: white;
          font-size: 18px;
          width: 80px;
        }
      }
    }
  }
  @media(max-width: 645px){
    .footer-content {
      flex-direction: column;
      align-items: center;
      .footer-column {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }
}

@media(max-width: 645px){
  .footer-company {
    font-size: 10px;
  }
}